{% extends "recipes/base.html" %}

{% block body %}
    <!--suppress HtmlUnknownAnchorTarget, CheckEmptyScriptTag -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" href="{% url 'recipes:Create Recipe' %}">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <div class="container">
        <div class="carousel">
            {% for recipe in recipes %}
                {% if recipe.photos %}
                    <a class="carousel-item" href="{% url  'recipes:Recipe Details' recipe.id %}"><img
                            src="{{ recipe.photos.url }}"
                            alt="Blue box"></a>
                {% endif %}
            {% endfor %}
        </div>
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <thead>
                <tr>
                    <th>Recipes</th>
                    <th/>
                </tr>
                </thead>
                <tbody>
                {% for recipe in recipes %}
                    <tr>
                        <td>
                            <a href="{% url  'recipes:Recipe Details' recipe.id %}">{{ recipe.name }}</a>
                        </td>
                        <td>
                            <label>
                                <input style="display: none" type="file" name="{{ recipe.id }}" value="{{ recipe.id }}">
                                <i class="material-icons right" style="font-size: xx-large; color: orange">add_photo_alternate</i>
                            </label>
                        </td>
                        <td class="recipe_delete_column">
                            <label>
                                <input type="checkbox" class="filled-in" value="{{ recipe.id }}"
                                       name="recipe_delete_checkbox"/>
                                <span>delete</span>
                            </label>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td class="recipe_delete_column">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

    <!--suppress JSUnresolvedVariable, ES6ModulesDependencies -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let elements = document.querySelectorAll('.carousel');
            M.Carousel.init(elements);
        });
    </script>
{% endblock body %}
