{% extends 'recipes/base.html' %}

{% block body %}
    <div class="container">
        <h2 style="text-align: center">{{ form.name.value }}</h2>
        <h4>Ingredients</h4>
    <ul class="collection">
        {% for ingredient in ingredients %}
            <li class="collection-item">{{ ingredient }}</li>
        {% endfor %}
    </ul>
    <h4>Method</h4>
    {% for ingredient in ingredients %}
            {{ forloop.counter }}. {{ ingredient }}
            <br/>
        {% endfor %}
    </div>
{% endblock body %}